<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://camel.apache.org/schema/spring 
    http://camel.apache.org/schema/spring/camel-spring.xsd">

	<import resource="bean-definitions.xml" />

	<camelContext
		xmlns="http://camel.apache.org/schema/spring"
		xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
		xmlns:ns="http://ws.wom.cl/wom/neg/billingaccountmanagement/applycarrierbillingrefund/v/1">

		<propertyPlaceholder id="placeholder"
			location="classpath:sql.properties ,file:${env:APP_ENV}" />

		<onException>
			<exception>cl.wom.exception.services.ServiceError</exception>
			<handled>
				<constant>true</constant>
			</handled>
			<setHeader headerName="codigoError">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="messageError">
				<simple>${exception.message}</simple>
			</setHeader>
			<setHeader headerName="Content-Type">
				<constant>application/json</constant>
			</setHeader>
			<choice>
				<when>
					<simple>${exception.codigoError} == 400 || ${exception.codigoError} == 452 || ${exception.codigoError} == 454 || ${exception.codigoError} == 455 </simple>
					<to uri="velocity:velocity/ErrorHttp.vm" />
				</when>
				<otherwise>
					<to uri="velocity:velocity/rest-response.vm" />
				</otherwise>
			</choice>
		</onException>

		<!-- applycarrierbillingRefund -->
		<route streamCache="true">
			<from
				uri="jetty:http://{{carrier.refund.host}}:{{carrier.refund.port}}{{carrier.refund.url}}?restletMethod=post" />

				<setHeader headerName="requestId"><jsonpath>$.requestId</jsonpath></setHeader>
				<setHeader headerName="bangoTransactionId"><jsonpath>$.bangoTransactionId</jsonpath></setHeader>
				<setHeader headerName="merchantTransactionId"><jsonpath>$.merchantTransactionId</jsonpath></setHeader>
				<setHeader headerName="paymentProviderTransactionId"><jsonpath>$.paymentProviderTransactionId</jsonpath></setHeader>
				<setHeader headerName="userId"><jsonpath>$.userId</jsonpath></setHeader>
				<setHeader headerName="amount"><jsonpath>$.amount</jsonpath></setHeader>
				<setHeader headerName="currency"><jsonpath>$.currency</jsonpath></setHeader>
				<setHeader headerName="date" ><simple>${date:now:yyyy-MM-dd'T'HH:mm:ssZ}</simple></setHeader>
				<setHeader headerName="Exchange.HTTP_RESPONSE_CODE"><simple>422</simple></setHeader>
				<to uri="velocity:velocity/422.vm" />
				<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
			<choice><when><simple>
						${headers.requestId.trim()} == "" || ${headers.bangoTransactionId.trim()} == "" || 
						${headers.merchantTransactionId.trim()} == "" || ${headers.paymentProviderTransactionId.trim()} == "" ||
						${headers.userId.trim()} == "" || ${headers.amount.toString().trim()} == "" || 
						${headers.currency.trim()} == ""
					</simple><throwException exceptionType="cl.wom.exception.services.ServiceError" message="400" /> </when>
			</choice>
			<choice><when><simple>
						${headers.requestId.length()} > 50 || ${headers.bangoTransactionId.length()} > 50 || 
						${headers.merchantTransactionId.length()} > 50 || ${headers.paymentProviderTransactionId.length()} > 50 ||
						${headers.userId.length()} > 50 || ${headers.amount.toString().length()} > 7 || 
						${headers.currency.length()} > 50
					</simple><throwException exceptionType="cl.wom.exception.services.ServiceError" message="452" /> </when>
			</choice>
			
			<bean ref="sqlFormatterProcessor" method="sqlParserCarrierRefund"></bean>
			
			<bean ref="sqlFormatterProcessor" method="sqlInsertCarrierRefund"></bean>
			
<!-- 			 CONSUME SERVICIO -->
			<to uri="velocity:velocity/soap-request.vm" />
			<to uri="cxf:http://{{wsdl.host}}{{wsdl.url}}"></to>
			
			<setHeader headerName="occId"><xpath>/soapenv:Envelope/soapenv:Body/*/*[local-name() = 'occId']/text()</xpath></setHeader>
			
			<choice>
				<when>
					<simple>${headers.occId} > 0 </simple>
					<bean ref="sqlFormatterProcessor" method="sqlInsertCarrierRefund"></bean>
				</when>
				<otherwise>
					<to uri="velocity:velocity/rest-response-error.vm" />
				</otherwise>
			</choice>

			<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
			
		</route>
	</camelContext>
</beans>
