   {
      "offerId":"string",
      "name":"string",
      "shortDescription":"string",
      "lastUpdate":"2018-09-17T18:09:18.075Z",
      "status":"string",
      "validFor":"2018-09-17T18:09:18.075Z",
      "version":"string",
      "isSellable":"string",
      "price":{
         "oneTime":{
            "amount":{
               "unit":"string",
               "value":"string"
            },
            "currency":"string",
            "duration":"string",
            "unitOfMeasure":"string"
         },
         "recurringCharge":{
            "amount":{
               "unit":"string",
               "value":"string"
            },
            "currency":"string",
            "frecuency":"string",
            "unitOfMeasure":"string"
         }
      },
      "channel":[
         {
            "name":"string",
            "legacySystem":"string"
         }
      ],
      "marketSegment":"string",
      "familyOffer":"string",
      "typeOffer":"string",
      "layoutTypeAPP":"string",
      "bundleProductOffering":[
         {
            "id":"string",
            "offerId":"string",
            "shDes":"string",
            "name":"string",
            "description":"string",
            "status":"string",
            "priority":"string",
            "minimumRequired":"string",
            "maximunAllowed":"string",
            "isOfferProduct":true,
            "isOptionProduct":true,
            "isPromotionProduct":true,
            "occ":"string",
            "sku":"string",
            "price":{
               "oneTime":{
                  "amount":{
                     "unit":"string",
                     "value":"string"
                  },
                  "currency":"string",
                  "duration":"string",
                  "unitOfMeasure":"string"
               },
               "recurringCharge":{
                  "amount":{
                     "unit":"string",
                     "value":"string"
                  },
                  "currency":"string",
                  "frecuency":"string",
                  "unitOfMeasure":"string"
               }
            },
            "characteristics":[
               {
                  "id":"string",
                  "unitType":"string",
                  "unitOfMeasure":"string",
                  "quantity":"string"
               }
            ],
            "channel":[
               {
                  "name":"string",
                  "legacySystem":"string"
               }
            ]
         }
      ],
      "packageService":[
         {
            "id":"string",
            "name":"string",
            "shortDescription":"string",
            "service":[
               {
                  "id":"string",
                  "name":"string",
                  "shortDescription":"string",
                  "accessFee":0,
                  "subscript":0,
                  "event":"string",
                  "isCore":true,
                  "status":"string",
                  "channel":[
                     {
                        "name":"string",
                        "legacySystem":"string"
                     }
                  ],
                  "commandService":[
                     {
                        "id":"string",
                        "market":"string",
                        "command":[
                           {
                              "id":"string",
                              "subsystemMarket":"string",
                              "register":"string",
                              "erase":"string",
                              "activate":"string",
                              "deactivate":"string"
                           }
                        ]
                     }
                  ]
               }
            ]
         }
      ],
      "deviceOffering":[
         {
            "shDes":"string",
            "deviceName":"string",
            "modality":"string",
            "cost":0,
            "partNum":"string",
            "sku":"string"
         }
      ]
   }
