<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
   <soapenv:Body>
      <soapenv:Fault>
         <faultcode>ERROR</faultcode>
         <faultstring>Solo uno de los campos debe traer información</faultstring>
      </soapenv:Fault>
   </soapenv:Body>
</soapenv:Envelope>