<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
   <soapenv:Body>
      <soapenv:Fault>
         <faultcode>ERROR.${headers.codeError}</faultcode>
         <faultstring>${headers.errorMessage}</faultstring>
      </soapenv:Fault>
   </soapenv:Body>
</soapenv:Envelope>	