<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ws="http://www.lhsgroup.com/ws_v2_NII_1" xmlns:java="http://xml.apache.org/axis/wsdd/providers/java" xmlns:soap-env="soap-env">
     <soapenv:Header>
        <wsse:Security soap-env:actor="http://schemas.xmlsoap.org/soap/actor/next" soap-env:mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
           <wsse:UsernameToken xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
              <wsse:Username>BOLSAPP</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">SY</wsse:Password>
           </wsse:UsernameToken>
        </wsse:Security>
     </soapenv:Header>
     <soapenv:Body>
        <ws:BookingRequestWrite>
           <java:input>
              <ws:actionCode>I</ws:actionCode>
              <ws:amount>
                 <ws:amount>-5990</ws:amount>
                 <ws:currency>CLP</ws:currency>
              </ws:amount>
              <ws:coId>7227063</ws:coId>
              <ws:csId>593432</ws:csId>
              <ws:feeClass>3</ws:feeClass>
              <ws:feeType>N</ws:feeType>
              <ws:numPeriods>1</ws:numPeriods> 
              <ws:remark>NETFLIX PREMIUN</ws:remark>
              <ws:rpcodePub>WOM10</ws:rpcodePub>
              <ws:rsCode>50</ws:rsCode>       
              <ws:sncodePub>BR001</ws:sncodePub> 
              <ws:spcodePub>OCC</ws:spcodePub>    
              <ws:validFrom>
                 <ws:date>2018-09-03T01:04:53.000-04:00</ws:date> 
              </ws:validFrom>
              <ws:validTo>
                 <ws:date>2018-09-03T01:04:53.000-04:00</ws:date>   
              </ws:validTo>
           </java:input>
           <java:sessionChange>
              <ws:values>
                 <ws:item>
                    <ws:key>BU_ID</ws:key>  
                    <ws:value>2</ws:value> 
                 </ws:item>
              </ws:values>
           </java:sessionChange>
        </ws:BookingRequestWrite>
     </soapenv:Body>
  </soapenv:Envelope>