<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:con="http://osb.wom.cl/ConsultaInfoCliente/" xmlns:con1="http://osb.wom.cl/ESB/ConsultaInfoClienteResponse">
   <soapenv:Header/>
   <soapenv:Body>
      <con:ConsultarInfoClienteResponse>
         <respConsultarInfoCliente>
            <!--Zero or more repetitions:-->
            <con1:ConsultaInfoClienteRutResponse>
               <!--Optional:-->
               <con1:flagRut>1</con1:flagRut>
               <!--Optional:-->
               <con1:antiguedad>?</con1:antiguedad>
               <!--Zero or more repetitions:-->
               <con1:customer>
                  <!--Optional:-->
                  <con1:ccname>?</con1:ccname>
                  <!--Optional:-->
                  <con1:customerCode>?</con1:customerCode>
                  <!--Optional:-->
                  <con1:customerId>?</con1:customerId>
                  <!--Optional:-->
                  <con1:first_name>?</con1:first_name>
                  <!--Optional:-->
                  <con1:last_name>?</con1:last_name>
                  <!--Optional:-->
                  <con1:nroLineasActivas>?</con1:nroLineasActivas>
                  <!--Optional:-->
                  <con1:deudaVencida>?</con1:deudaVencida>
                  <!--Optional:-->
                  <con1:deudaXVencer>?</con1:deudaXVencer>
                  <!--Optional:-->
                  <con1:direccion>?</con1:direccion>
                  <!--Optional:-->
                  <con1:promedioUlt4Meses>?</con1:promedioUlt4Meses>
                  <!--Optional:-->
                  <con1:metodoEnvioFactura>?</con1:metodoEnvioFactura>
                  <!--Optional:-->
                  <con1:email>?</con1:email>
                  <!--Optional:-->
                  <con1:estadoDeuda>?</con1:estadoDeuda>
                  <!--Optional:-->
                  <con1:totalApagar>?</con1:totalApagar>
                  <con1:vencimiento>?</con1:vencimiento>
                  <!--Optional:-->
                  <con1:desc>?</con1:desc>
                  <con1:idBillingCycle>?</con1:idBillingCycle>
                  <!--Optional:-->
                  <con1:fechaIniCiclo>?</con1:fechaIniCiclo>
                  <!--Optional:-->
                  <con1:fechaTerCiclo>?</con1:fechaTerCiclo>
                  <!--Optional:-->
                  <con1:flagGestor>?</con1:flagGestor>
                  <!--Optional:-->
                  <con1:mercado>?</con1:mercado>
                  <!--Optional:-->
                  <con1:lineasSuspendidas>?</con1:lineasSuspendidas>
                  <!--Zero or more repetitions:-->
                  <con1:contract>
                     <!--Optional:-->
                     <con1:contractId>?</con1:contractId>
                     <!--Optional:-->
                     <con1:nroCelular>?</con1:nroCelular>
                     <!--Optional:-->
                     <con1:ratePlan>?</con1:ratePlan>
                     <!--Optional:-->
                     <con1:shDes>?</con1:shDes>
                     <!--Optional:-->
                     <con1:equipo>?</con1:equipo>
                     <!--Optional:-->
                     <con1:tecnologia>?</con1:tecnologia>
                     <!--Optional:-->
                     <con1:tipoContrato>?</con1:tipoContrato>
                     <!--Optional:-->
                     <con1:eqSerialNum>?</con1:eqSerialNum>
                     <!--Optional:-->
                     <con1:estado>?</con1:estado>
                     <con1:fechaActivacion>?</con1:fechaActivacion>
                     <con1:pin>?</con1:pin>
                     <con1:puk>?</con1:puk>
                  </con1:contract>
               </con1:customer>
            </con1:ConsultaInfoClienteRutResponse>
            <!--Zero or more repetitions:-->
            <con1:ConsultaInfoClienteLineaResponse>
               <!--Optional:-->
               <con1:flagLinea>?</con1:flagLinea>
               <!--Optional:-->
               <con1:consumer>
                  <con1:adrCusttype>?</con1:adrCusttype>
                  <con1:adrFname>?</con1:adrFname>
                  <con1:adrLname>?</con1:adrLname>
                  <con1:csId>?</con1:csId>
                  <con1:dirNum>?</con1:dirNum>
                  <con1:pin>?</con1:pin>
                  <con1:puk>?</con1:puk>
                  <con1:RUT>?</con1:RUT>
                  <con1:customerID>?</con1:customerID>
                  <con1:coId>?</con1:coId>
                  <con1:tipoContrato>?</con1:tipoContrato>
                  <!--Optional:-->
                  <con1:tecnologia>?</con1:tecnologia>
                  <con1:eqSerialNum>?</con1:eqSerialNum>
                  <con1:ratePlan>?</con1:ratePlan>
                  <con1:estadoDeuda>?</con1:estadoDeuda>
                  <con1:vencimiento>?</con1:vencimiento>
                  <con1:totalApagar>?</con1:totalApagar>
                  <con1:consumo>
                     <!--Optional:-->
                     <con1:datos>?</con1:datos>
                     <!--Optional:-->
                     <con1:voz>?</con1:voz>
                     <!--Optional:-->
                     <con1:sms>?</con1:sms>
                  </con1:consumo>
                  <con1:saldo>?</con1:saldo>
                  <con1:saldoAnterior>?</con1:saldoAnterior>
                  <!--Optional:-->
                  <con1:desc>?</con1:desc>
                  <con1:idBillingCycle>?</con1:idBillingCycle>
                  <con1:fechaInicioCiclo>?</con1:fechaInicioCiclo>
                  <con1:fechaTerCiclo>?</con1:fechaTerCiclo>
                  <!--Optional:-->
                  <con1:mercado>?</con1:mercado>
               </con1:consumer>
               <!--Optional:-->
               <con1:flagGestor>?</con1:flagGestor>
            </con1:ConsultaInfoClienteLineaResponse>
            <con1:numEvent>?</con1:numEvent>
            <con1:errorCode>?</con1:errorCode>
            <con1:errorDescription>?</con1:errorDescription>
         </respConsultarInfoCliente>
      </con:ConsultarInfoClienteResponse>
   </soapenv:Body>
</soapenv:Envelope>