{
    "responseCode": "DATA_INVALID",
    "responseMessage": "Request data was invalid",
    "paymentProviderTransactionId":  "PP-5a5164105ca648ceaef2bf1528503021",
    "extensionData" : {
        "key1":"value1",
        "key2":"value2"
    }
}