{  
   ”responseCode”:“OK”,
   ”responseMessage”:“Success”,
   “listacompras”:{  
      {  
         ” msisdn”:“ ”,
         ” Id_oferta”:“ ”,
         ” des_oferta”:“ ”,
         ” fecha_activacion”:“ ”,
         ” mercado”:“ ”,
         ” producto”:“ ”,
         ” precio”:“ ”
      }
   }
