<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://camel.apache.org/schema/spring 
    http://camel.apache.org/schema/spring/camel-spring.xsd">
    
    <import resource="bean-definitions.xml"/>
    
    <camelContext
      xmlns="http://camel.apache.org/schema/spring"
      xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ns="http://ws.wom.cl/wom/neg/productcatalogmanagement/productoffering/v/1">      
      
		 <propertyPlaceholder id="placeholder" location="file:${env:APP_ENV}"/>
	
		<onException>
			    <exception>java.lang.Exception</exception>
			    <handled><simple>true</simple></handled>
			    
			    <setHeader headerName="errorcode"><constant>500</constant></setHeader>
			    <setHeader headerName="errorMessage"><simple>${exception.message.replaceAll('(\\r|\\n)','').replaceAll('\"','')}</simple></setHeader>
	
			    <log message="error: ${exception.message}"></log>
			    <to uri="velocity:velocity/rest-response-serviceexception.vm"/>
			    <setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
		</onException>
			       
		<route>
				<from uri="jetty:http://{{camel.from.endpointhost}}:{{camel.from.endpointport}}{{camel.from.endpointurl}}"/>
				<choice>
					<when>
						<simple>${headers.subscriberId.toString().trim()} == "" || ${headers.subscriberId} == null </simple>
						<to uri="velocity:velocity/response-nodata.vm"></to>
						<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
					</when>
					<when>
						<simple>${headers.subscriberId.trim()} == "" || ${headers.subscriberId} == null </simple>
						<to uri="velocity:velocity/response-nodata.vm"></to>
						<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
					</when>
					<otherwise>
						<bean ref="sqlFormatterProcessor" method="sqlParserProductInventory"></bean>
						<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
						
						<when>
		            		<simple>${body} == ""</simple>
		            		<to uri="velocity:velocity/response-sql-nodata.vm"></to>
		            		<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>	            		
		            	</when>
		            	<otherwise>
							<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
						</otherwise>
					</otherwise>
				</choice>
		</route>
	
    </camelContext>
</beans>