<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://camel.apache.org/schema/spring 
    http://camel.apache.org/schema/spring/camel-spring.xsd">
    
    <import resource="bean-definitions.xml"/>
    
    <camelContext  xmlns="http://camel.apache.org/schema/spring">
		<propertyPlaceholder id="placeholder" location="classpath:application.properties"/> 	
       
        <route streamCache="true">
            <from uri="jetty:{{camel.from.endpoint}}"/>
            
            <log message="bill.accountId:  ${headers.bill.accountId}"></log>
            <log message="bill.quantity:  ${headers.bill.quantity}"></log>
            
            <choice>
            	<when>
            		<simple>${headers.bill.accountId} != null</simple>
            		<setHeader headerName="accountId"><simple>${headers.bill.accountId}</simple></setHeader>
            		<setHeader headerName="quantity"><simple>${headers.bill.quantity}</simple></setHeader>
            		<to uri="velocity:velocity/request-mongo-bill.vm" ></to>		
            	</when>
            </choice>
            
            
            <convertBodyTo type="java.lang.String"></convertBodyTo>
            <log message="resultado velocity: ${body}" />
			<to uri="mongodb:mongoBean?database={{camel.mongodb.db}}&amp;collection=bill&amp;operation=findOneByQuery" />
			
			<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
        </route>
        
    </camelContext>
</beans>