<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://camel.apache.org/schema/spring 
    http://camel.apache.org/schema/spring/camel-spring.xsd">

	<import resource="bean-definitions.xml" />

	<camelContext
		xmlns="http://camel.apache.org/schema/spring"
		xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
		xmlns:ns="http://ws.wom.cl/wom/neg/customerinformationmanagement/getaccountinformation/v/1">
		<!-- <propertyPlaceholder id="placeholder" -->
		<!-- location="classpath:application.properties,classpath:sql.properties" 
			/> -->
		<propertyPlaceholder id="placeholder"
			location="classpath:sql.properties ,file:${env:APP_ENV}" />


		<!-- Control de errores -->
		<onException>
			<exception>cl.wom.exception.services.ServiceError</exception>
			<handled>
				<constant>true</constant>
			</handled>
			<log message="ERROR: ${exception.message}"></log>
			<setHeader headerName="Exchange.HTTP_RESPONSE_CODE">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="codigoError">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="messageError">
				<simple>${exception.message}</simple>
			</setHeader>
			<setHeader headerName="Content-Type">
				<constant>application/json</constant>
			</setHeader>
			<to uri="velocity:velocity/ErrorHttp.vm" />
		</onException>

		<route>
			<!-- TODO: Cambiar nombre del servicio por el propocionado por Arquitectura -->
			<from uri="jetty:{{camel.from.endpoint.route1}}" />
			<from uri="direct:fullRequest" />

			<bean ref="sqlFormatterProcessor"
				method="sqlParserAccountInformation"></bean>

			<choice>
				<when>
					<simple>${body} == null</simple>
					<to uri="velocity:velocity/response-sql-error.vm"></to>
				</when>
			</choice>

			<setHeader headerName="Content-Type">
				<constant>application/json</constant>
			</setHeader>
		</route>

		<route>
			<!-- TODO: Cambiar nombre del servicio por el propocionado por Arquitectura -->
			<from uri="jetty:{{camel.from.endpoint.route2}}" />

			<bean ref="sqlFormatterProcessor"
				method="sqlGetRutAccountManager"></bean>

			<setHeader headerName="rut">
				<simple>${body}</simple>
			</setHeader>
			<to uri="direct:fullRequest" />
		</route>
		<route>
			<from uri="jetty:{{camel.from.endpoint.route3}}" />

			<setHeader headerName="rut">
				<xpath resultType="java.lang.String">/soapenv:Envelope/soapenv:Body/ns:account/rut/text()
				</xpath>
			</setHeader>
			<setHeader headerName="accountid">
				<xpath resultType="java.lang.String">/soapenv:Envelope/soapenv:Body/ns:account/accountid/text()
				</xpath>
			</setHeader>
	
				
				<bean ref="sqlFormatterProcessorSOAP" method="sqlParserAccountInformationSOAP"></bean>
				<to uri="velocity:velocity/response-AccountImformation.vm" />
				
				
				
				
<!-- 			<choice> -->
<!-- 				<when> -->
<!-- 					<simple>${headers.rut} == "" and ${headers.accountid} == "" -->
<!-- 					</simple> -->
<!-- 					<throwException -->
<!-- 						exceptionType="cl.wom.exception.services.ServiceError" -->
<!-- 						message="400" /> -->
<!-- 				</when> -->
<!-- 				<when> -->
<!-- 					<simple>${headers.rut} != "" and ${headers.accountid} != "" -->
<!-- 					</simple> -->
<!-- 					<throwException -->
<!-- 						exceptionType="cl.wom.exception.services.ServiceError" -->
<!-- 						message="400" /> -->
<!-- 				</when> -->
<!-- 				<otherwise> -->
<!-- 					<bean ref="sqlFormatterProcessorSOAP" -->
<!-- 						method="sqlParserAccountInformation"></bean> -->
<!-- 					<choice> -->
<!-- 						<when> -->
<!-- 							<simple>${body} == null</simple> -->
<!-- 							<throwException -->
<!-- 								exceptionType="cl.wom.exception.services.ServiceError" -->
<!-- 								message="400" /> -->
<!-- 						</when> -->
<!-- 					</choice> -->
<!-- 					<setHeader headerName="Content-Type"> -->
<!-- 						<constant>application/xml</constant> -->
<!-- 					</setHeader> -->
<!-- 				</otherwise> -->
<!-- 			</choice> -->
		</route>
	</camelContext>
</beans>