<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://camel.apache.org/schema/spring 
    http://camel.apache.org/schema/spring/camel-spring.xsd">

	<import resource="bean-definitions.xml" />

	<camelContext
		xmlns="http://camel.apache.org/schema/spring">	
<!-- 		<propertyPlaceholder id="placeholder" -->
<!-- 			location="classpath:application.properties,classpath:sql.properties" /> -->
			<propertyPlaceholder id="placeholder"
                location="classpath:${env:APP_ENV}.properties, classpath:${env:SQL_ENV}.properties"/>

		<!-- Control de errores -->
<!-- 		<onException> -->
<!-- 			<exception>java.lang.Exception</exception> -->
<!-- 			<handled> -->
<!-- 				<simple>true</simple> -->
<!-- 			</handled> -->
<!-- 			<to uri="velocity:velocity/response-sql-error.vm" /> -->
<!-- 			<setHeader headerName="Content-Type"> -->
<!-- 				<constant>application/json</constant> -->
<!-- 			</setHeader> -->
<!-- 		</onException> -->

		<route>
		
			<!-- TODO: Cambiar nombre del servicio por el propocionado por Arquitectura -->
			<from uri="jetty:{{camel.from.endpoint}}" />
			
			<setHeader headerName="rut">
				<simple>${headers.rut}</simple>
			</setHeader> 
			<log message="rut: ${headers.rut}"></log>
			
			<setHeader headerName="accountId">
				<simple>${headers.accountId}</simple>
			</setHeader>
			<log message="accountId: ${headers.accountId}"></log>
			
			<setHeader headerName="MSISDN">
				<simple>${headers.MSISDN}</simple>
			</setHeader>
			<log message="MSISDN: ${headers.MSISDN}"></log>
			
			<setHeader headerName="IMSI">
				<simple>${headers.IMSI}</simple>
			</setHeader>
			<log message="IMSI: ${headers.IMSI}"></log>
			
			<setHeader headerName="IMEI">
				<simple>${headers.IMEI}</simple>
			</setHeader>
			<log message="IMEI: ${headers.IMEI}"></log>
			
			<setHeader headerName="ICCID">
				<simple>${headers.ICCID}</simple>
			</setHeader>
			<log message="ICCID: ${headers.ICCID}"></log>
			
			
			<choice>
				<when>
					<simple> ${headers.rut} != "" || ${headers.accountId} != "" </simple>
					<bean ref="accountManagerSql" method="getAccountInformation"></bean>		
				</when>
				<otherwise>
				<when>
					<simple>${headers.MSISDN} != ""</simple>
					<bean ref="accountManagerSql" method="getResourceInformation"></bean>
				</when>
				</otherwise>
			</choice>
		
<!-- 			<bean ref="accountManagerSql" method="getAccountInformation"></bean> -->

			<setHeader headerName="Content-Type"><constant>application/json</constant></setHeader>
			
		</route>

	</camelContext>
</beans>