{
  "rut": "rut",
  "account": [
    {
      "subscribers": [
        {
          "rut": "rut",
          "accountId": "accountId",
          "subscriberResources": [
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            },
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            }
          ],
          "subscriberIdContract": "subscriberIdContract",
          "subscriberType": "subscriberType",
          "subscriberActivate": "2000-01-23T04:56:07.000+00:00",
          "subscriberId": "subscriberId",
          "state": "state",
          "subscriberExpired": "2000-01-23T04:56:07.000+00:00"
        },
        {
          "rut": "rut",
          "accountId": "accountId",
          "subscriberResources": [
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            },
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            }
          ],
          "subscriberIdContract": "subscriberIdContract",
          "subscriberType": "subscriberType",
          "subscriberActivate": "2000-01-23T04:56:07.000+00:00",
          "subscriberId": "subscriberId",
          "state": "state",
          "subscriberExpired": "2000-01-23T04:56:07.000+00:00"
        }
      ],
      "accountType": "accountType",
      "docTypeDesc": "docTypeDesc",
      "custCode": "custCode",
      "rut": "rut",
      "csLevel": "csLevel",
      "accountId": "accountId",
      "accountDeactivate": "2000-01-23T04:56:07.000+00:00",
      "externalAccountId": "externalAccountId",
      "docTypeId": "docTypeId",
      "accountActivate": "2000-01-23T04:56:07.000+00:00",
      "docTypeOutputCode": "docTypeOutputCode",
      "accountIdHigh": "accountIdHigh",
      "state": "state",
      "billCycle": {
        "bchRunDate": "2000-01-23T04:56:07.000+00:00",
        "accountId": "accountId",
        "intervalType": "intervalType",
        "billCycleDes": "billCycleDes",
        "lastRunDate": "2000-01-23T04:56:07.000+00:00",
        "billCycle": "billCycle"
      }
    },
    {
      "subscribers": [
        {
          "rut": "rut",
          "accountId": "accountId",
          "subscriberResources": [
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            },
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            }
          ],
          "subscriberIdContract": "subscriberIdContract",
          "subscriberType": "subscriberType",
          "subscriberActivate": "2000-01-23T04:56:07.000+00:00",
          "subscriberId": "subscriberId",
          "state": "state",
          "subscriberExpired": "2000-01-23T04:56:07.000+00:00"
        },
        {
          "rut": "rut",
          "accountId": "accountId",
          "subscriberResources": [
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            },
            {
              "resourceId": "resourceId",
              "resourceDeactivate": "2000-01-23T04:56:07.000+00:00",
              "resource": "resource",
              "subscriberId": "subscriberId",
              "resourceDescription": "resourceDescription",
              "resourceState": "resourceState",
              "resourceActivate": "2000-01-23T04:56:07.000+00:00",
              "resourceType": "resourceType"
            }
          ],
          "subscriberIdContract": "subscriberIdContract",
          "subscriberType": "subscriberType",
          "subscriberActivate": "2000-01-23T04:56:07.000+00:00",
          "subscriberId": "subscriberId",
          "state": "state",
          "subscriberExpired": "2000-01-23T04:56:07.000+00:00"
        }
      ],
      "accountType": "accountType",
      "docTypeDesc": "docTypeDesc",
      "custCode": "custCode",
      "rut": "rut",
      "csLevel": "csLevel",
      "accountId": "accountId",
      "accountDeactivate": "2000-01-23T04:56:07.000+00:00",
      "externalAccountId": "externalAccountId",
      "docTypeId": "docTypeId",
      "accountActivate": "2000-01-23T04:56:07.000+00:00",
      "docTypeOutputCode": "docTypeOutputCode",
      "accountIdHigh": "accountIdHigh",
      "state": "state",
      "billCycle": {
        "bchRunDate": "2000-01-23T04:56:07.000+00:00",
        "accountId": "accountId",
        "intervalType": "intervalType",
        "billCycleDes": "billCycleDes",
        "lastRunDate": "2000-01-23T04:56:07.000+00:00",
        "billCycle": "billCycle"
      }
    }
  ]
}