<soapenv:Header/>
   <soapenv:Body>
      <ns:accountResponse>
         <rut>?</rut>
         <!--1 or more repetitions:-->
         <account>
            <rut>?</rut>
            <accountId>?</accountId>
            <accountIdHigh>?</accountIdHigh>
            <csLevel>?</csLevel>
            <custCode>?</custCode>
            <accountType>?</accountType>
            <accountActivate>?</accountActivate>
            <accountActivate>?</accountActivate>
            <accountDeactivate>?</accountDeactivate>
            <externalAccountId>?</externalAccountId>
            <state>?</state>
            <docTypeId>?</docTypeId>
            <docTypeDesc>?</docTypeDesc>
            <doctypeOutputCode>?</doctypeOutputCode>
            <billCycle>
               <accountId>?</accountId>
               <billCycleDes>?</billCycleDes>
               <intervalType>?</intervalType>
               <lastrunDate>?</lastrunDate>
               <bchrunDate>?</bchrunDate>
            </billCycle>
            <!--1 or more repetitions:-->
            <subscriber>
               <rut>?</rut>
               <accountId>?</accountId>
               <subscriberId>?</subscriberId>
               <subscriberIdContract>?</subscriberIdContract>
               <subscriberActivate>?</subscriberActivate>
               <subscriberExpired>?</subscriberExpired>
               <subscriberExpired>?</subscriberExpired>
               <state>?</state>
               <!--1 or more repetitions:-->
               <subscriberResources>
                  <subscriberId>?</subscriberId>
                  <resourceId>?</resourceId>
                  <resource>?</resource>
                  <resourceDescription>?</resourceDescription>
                  <resourceActivate>?</resourceActivate>
                  <resourceDeactivate>?</resourceDeactivate>
                  <resourceState>?</resourceState>
                  <resourcetype>?</resourcetype>
               </subscriberResources>
            </subscriber>
         </account>
      </ns:accountResponse>
   </soapenv:Body>
</soapenv:Envelope>