<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://camel.apache.org/schema/spring 
	http://camel.apache.org/schema/spring/camel-spring.xsd">

	<bean id="clienteProcessor" class="cl.wom.util.ClienteProcessor"/>

	<camelContext
		id="camelContext-0423f187-258d-455e-82e8-783bcda7f4af"
		xmlns="http://camel.apache.org/schema/spring">
		<!--Cargamos el archivo de propiedades correspondiente al ambiente NOTA: 
			esto debe ser descomentado para subir a openshift, se debe eliminar el espacio 
			entre "$ {" y comentar o eliminar la linea donde se encuentra en duro el 
			archivo properties. Por defecto en opensfhit es develop -->
		<!--<propertyPlaceholder id="placeholder" location="classpath:$ {env:PFX_ENV}.properties"/> -->

		<!-- <propertyPlaceholder id="placeholder"
			location="classpath:application.properties,classpath:sql.properties" /> -->
			<propertyPlaceholder id="placeholder"
                location="file:${env:APP_ENV}, classpath:sql.properties"/>

		<onException>
			<exception>cl.wom.exception.services.ServiceError</exception>
			<handled>
				<constant>true</constant>
			</handled>
			<log message="ERROR: ${exception.message}"></log>
			<setHeader headerName="Exchange.HTTP_RESPONSE_CODE">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="codigoError">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="messageError">
				<simple>${exception.message}</simple>
			</setHeader>
			<setHeader headerName="Content-Type">
				<constant>application/json</constant>
			</setHeader>
			<to uri="velocity:velocity/ErrorHttp.vm" />

		</onException>

		<!-- getcarrierbillingoffers -->
		<route streamCache="true">
			<from
		
				uri="restlet:http://{{service.rest.host}}:{{service.rest.port}}{{service.rest.resource}}?restletMethod=post" />


			<setHeader headerName="Accept">
				<constant>application/json</constant>
			</setHeader>
			<setHeader headerName="Content-Type">
				<constant>application/json</constant>
			</setHeader>
			<doTry>
				<setHeader headerName="msisdn">
					<jsonpath resultType="java.lang.String">$.msisdn</jsonpath>
				</setHeader>
				<doCatch>
				<exception>org.apache.camel.ExpressionEvaluationException
					</exception>
					<setHeader headerName="Exchange.HTTP_RESPONSE_CODE">
						<simple>422</simple>
					</setHeader>
					<to uri="velocity:velocity/422.vm" />
					<setHeader headerName="Content-Type">
						<constant>application/json</constant>
					</setHeader>
					<stop />
				</doCatch>
			</doTry>
			<choice>
				<when>
					<simple>${headers.msisdn} == ""</simple>
					<throwException
						exceptionType="cl.wom.exception.services.ServiceError"
						message="400" />
				</when>

				<when>
					<simple>${headers.msisdn} != ""</simple>

					<setBody>
						<simple>{{sql.getInfoSuscriptorCarrierBilling}}</simple>
					</setBody>
					<setHeader headerName="interface">
						<constant>getInfoSuscriptorCarrierBilling</constant>
					</setHeader>
					<to uri="bean:clienteProcessor" />

					<setBody>
						<simple>{{sql.getSuscripcionesCarrierExist}}</simple>
					</setBody>

					<setHeader headerName="interface">
						<constant>getSuscripcionesCarrierExist</constant>
					</setHeader>
					<to uri="bean:clienteProcessor" />
					<when>
						<!-- <simple>${body} != 0</simple> cambiar -->
						<simple>${body} != 0</simple>

						<to uri="velocity:velocity/getSuscripcionesCarrierExist.vm" />
						<stop />
					</when>
					<when>
						<!-- <simple>${body} == 0</simple> cambiar -->
						<simple>${body} == 0</simple>
						<!-- getCustomerContractMoreOld para ver si el cliente posee una subcripion 
							activa -busca el msisdn mas antiguo de la cuenta -->
						<setHeader headerName="interface">
							<constant>getCustomerContractMoreOld</constant>
						</setHeader>
						<setBody>
							<simple>{{sql.getCustomerContractMoreOld}}</simple>
						</setBody>
						<to uri="bean:clienteProcessor" />

						<when>
							<simple>${body} == null</simple>
							<to uri="velocity:velocity/getCustomerContractMoreOld.vm" />
							<stop />
						</when>

						<when>
							<simple>${body} != null</simple>

							<!-- valida la cuenta pagadora getCustomerPagador -->

							<setBody>
								<simple>{{sql.getCustomerPagador}}</simple>
							</setBody>
							<setHeader headerName="interface">
								<constant>getCustomerPagador</constant>
							</setHeader>
							<to uri="bean:clienteProcessor" />
							<when>
								<simple>${body} == null</simple>
								<to uri="velocity:velocity/getCustomerPagador.vm" />
								<stop />
							</when>

							<when>
								<simple>${body} != null</simple>

								<setBody>
									<simple>{{sql.getofertacarrier}}</simple>
								</setBody>
								<setHeader headerName="interface">
									<constant>getofertacarrier</constant>
								</setHeader>

								<to uri="bean:clienteProcessor" />
								
								<when>
								<simple>${body} == null</simple>
								<to uri="velocity:velocity/getOfertaCarrier.vm" />
								<stop/>
								</when>
								
								<when>
								<simple>${body} != null</simple>
						
								<setBody>
									<simple>{{sql.validacionpreinsert}}</simple>
								</setBody>
								<setHeader headerName="interface">
									<constant>validacionpreinsert</constant>
								</setHeader>
									<to uri="bean:clienteProcessor" />
								<when>
								<simple>${body} == 0</simple>
								
								<setBody>
									<simple>{{sql.insertaregelegcarrierbilling}}</simple>
								</setBody>
								<setHeader headerName="interface">
									<constant>insertaregelegcarrierbilling</constant>
								</setHeader>
								<to uri="bean:clienteProcessor" />
								</when>
								<to uri="velocity:velocity/Success.vm" />
							</when>
							</when>
						</when>


					</when>


				</when>

			</choice>
			<setHeader headerName="Content-Type">
				<constant>application/json; charset=UTF-8</constant>
			</setHeader>
			<setHeader headerName="Encoding">
				<constant>UTF-8</constant>
			</setHeader>
		</route>
	</camelContext>
</beans>