<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://camel.apache.org/schema/spring 
	http://camel.apache.org/schema/spring/camel-spring.xsd">


	<bean id="clienteProcessor" class="cl.wom.util.ClienteProcessor">
	</bean>

	<camelContext
		id="camelContext-0423f187-258d-455e-82e8-783bcda7f4af"
		xmlns="http://camel.apache.org/schema/spring">
		<!--Cargamos el archivo de propiedades correspondiente al ambiente NOTA: 
			esto debe ser descomentado para subir a openshift, se debe eliminar el espacio 
			entre "$ {" y comentar o eliminar la linea donde se encuentra en duro el 
			archivo properties. Por defecto en opensfhit es develop -->
	
	 <propertyPlaceholder id="placeholder" location="classpath:sql.properties ,file:${env:APP_ENV}"/>


		<onException>
			<exception>cl.wom.exception.services.ServiceError</exception>
			<handled>
				<constant>true</constant>
			</handled>
			<log message="ERROR: ${exception.message}"></log>
			<setHeader headerName="Exchange.HTTP_RESPONSE_CODE">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="codigoError">
				<simple>${exception.codigoError}</simple>
			</setHeader>
			<setHeader headerName="messageError">
				<simple>${exception.message}</simple>
			</setHeader>
			<setHeader headerName="Content-Type">
				<constant>application/json</constant>
			</setHeader>
			<to uri="velocity:velocity/ErrorHttp.vm" />

		</onException>


		<!-- Servicio getCarrierBillingPurchaseHistory -->
		<route streamCache="true">
			<from
				uri="restlet:http://{{service.rest.host}}:{{service.rest.port}}{{service.rest.resource}}?restletMethod=post" />
			<doTry>

				<setHeader headerName="msisdn">
					<jsonpath resultType="java.lang.String">$.msisdn</jsonpath>
				</setHeader>
				<setHeader headerName="fecha_desde">
					<jsonpath>$.fecha_desde</jsonpath>
				</setHeader>
				<setHeader headerName="fecha_hasta">
					<jsonpath>$.fecha_hasta</jsonpath>
				</setHeader>
				<doCatch>
					<exception>org.apache.camel.ExpressionEvaluationException
					</exception>
				
					<setHeader headerName="Exchange.HTTP_RESPONSE_CODE">
						<simple>422</simple>
					</setHeader>
						
					<to uri="velocity:velocity/422.vm" />
					<setHeader headerName="Content-Type">
						<constant>application/json</constant>
					</setHeader>
						
					<stop />
				</doCatch>
			</doTry>
			<choice>
				<when>
					<simple>${headers.msisdn} == "" ||
						${headers.fecha_desde} == "" ||
						${headers.fecha_hasta} == ""

					</simple>
					<throwException
						exceptionType="cl.wom.exception.services.ServiceError"
						message="400" />
				</when>

				<when>

					<simple>${headers.msisdn} != ""</simple>

					<setBody>
						<simple>{{sql.getlistofferscarrierbilling}}</simple>
					</setBody>

					<to uri="bean:clienteProcessor" />

						<to
							uri="velocity:velocity/200getCarrierBillingPurchaseHistory.vm" />
				
				</when>
			</choice>
			<setHeader headerName="Content-Type">
				<constant>application/json; charset=UTF-8</constant>
			</setHeader>
			<setHeader headerName="Encoding">
				<constant>UTF-8</constant>
			</setHeader>

		</route>
	</camelContext>
</beans>