db.bill.insert( 
{
   "accountId":"string",
   "id":"string",
   "billNro":"string",
   "category":"string",
   "billDate":"2018-09-18T20:15:09.515Z",
   "nextBillDate":"2018-09-18T20:15:09.515Z",
   "billingPeriod":"2018-09-18T20:15:09.515Z",
   "amontDue":{
      "unit":"string",
      "value":"string"
   },
   "paymentDueDate":"2018-09-18T20:15:09.515Z",
   "remainingAmount":{
      "unit":"string",
      "value":"string"
   },
   "taxExcludedAmount":{
      "unit":"string",
      "value":"string"
   },
   "taxIncludedAmount":{
      "unit":"string",
      "value":"string"
   },
   "state":"string",
   "lastUpdate":"2018-09-18T20:15:09.516Z",
   "billDocument":[
      {
         "id":"string",
         "name":"string",
         "description":"string",
         "mimeType":"string",
         "size":"string",
         "sizeUnit":"string",
         "url":"string",
         "type":"string"
      }
   ],
   "taxItem":[
      {
         "taxAmount":{
            "unit":"string",
            "value":"string"
         },
         "taxCategory":"string",
         "taxRate":0
      }
   ]
}
)